<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REMOV3</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <img src="/static/remov3.png" alt="logo">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Remover fundo</button>
        </form>
    </div>
</body>
</html>
